@model Eng360Web.Models.Domain.eng_users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>eng_users</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GroupID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GroupID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastLogin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastLogin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.eng_usergroup.GroupName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.eng_usergroup.GroupName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
