@model Eng360Web.Models.ViewModel.NewSafetyInspectionViewModel

@{
    Layout = null;
}
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/tagit/tag-it.js"></script>
<link href="~/Content/tagit/jquery.tagit.css" rel="stylesheet" />

<style>
    .table-condensed tbody > tr > td > a {
        color: #4eb1ba !important;
    }

    .ui-front {
        z-index: 9999 !important;
    }

    .ui-autocomplete {
        max-height: 10em !important;
        overflow: auto !important;
    }

    .ui-menu-item {
        max-width: 280px !important;
    }

    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<div class="row inner-page--container">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <b> Add New Safety Inspection  </b>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formNewSafetyInspection" }))
                {
                    @Html.AntiForgeryToken()
                    

                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.ProjectID, "Project Name", htmlAttributes: new { @class = "control-label required" })
                            <div>
                                @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.ProjectLocation, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.ProjectLocation, new { htmlAttributes = new { @class = "form-control required" } })
                                @Html.ValidationMessageFor(model => model.ProjectLocation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        </div>

                        <div class="row" >
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.InspectionDate, htmlAttributes: new { @class = "control-label required" })
                                <div class="">
                                    @Html.EditorFor(model => model.InspectionDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.InspectionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.InspectedBy, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @*@Html.EditorFor(model => model.InspectedBy, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.InspectedBy, new SelectList(ViewBag.MNGList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.InspectedBy, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>

                        

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Observation, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.TextAreaFor(model => model.Observation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Observation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.RemedialAction, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.TextAreaFor(model => model.RemedialAction, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RemedialAction, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.ActionBy_Deadline, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.ActionBy_Deadline, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActionBy_Deadline, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Rectification_Remarks, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.TextAreaFor(model => model.Rectification_Remarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Rectification_Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        

                        <div class="col-md-6">
                            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @accept = "image/x-png,image/gif,image/jpeg" })
                                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <input type="button" value="Create" id="create-newsafetyinspection-dialog-save" class="btn btn-primary" />

                    </div>
                }


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
   

    $(function () {
        $('#InspectionDate').datetimepicker({ format: 'DD/MM/YYYY' });

             


    });
</script>