@model Eng360Web.Models.ViewModel.FilterViewModel

@{
    Layout = null;
}

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />


<style>
    .table-condensed tbody > tr > td > a {
        color: #4eb1ba !important;
    }
</style>




<div class="row inner-page--container">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b> Project Report Details </b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                
                @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", id = "projectreportReportForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-4">
                            @Html.Label("Project Name", htmlAttributes: new { @class = "control-label" })
                            <div>
                                @*Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.Label("Client Name", htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.DropDownList("ClientID", null, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.Label("Supervisor", htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.Label("Date From", htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.dateFrom, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>


                        <div class="col-md-4">
                            @Html.Label("Date To", htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.dateTo, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        

                        <div class="col-md-4">
                            @Html.Label("Month", htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.DropDownListFor(model => model.Month, new SelectList(
                                    new List<Object>{
                                    new { value = 0 , text = "Select"  },
                                    new { value = 1 , text = "Current" },
                                    new { value = 2 , text = "Last" }

                    }, "value", "text", 0), htmlAttributes: new { @class = "form-control" })
                               
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">

                        <button type="button" id="report-projectreportIndex-search" class="btn btn-primary">Search</button>

                    </div>

                }

                <table class="table table-striped table-bordered" id="projectReportTable">
                    <thead>
                        <tr>
                           
                            <th>Reported Date</th>
                            <th>Project Name</th>
                            <th>Company Name</th>
                            <th>Description</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Supervisor</th>
                            <th>Resource Name</th>
                            <th>Task Status</th>
                                                                         
                    
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.eng_project_report)
                        {
                            <tr>
                                <td>@{
                                    var dt = "";
                                    dt = Convert.ToDateTime(item.ReportDate).ToString(Eng360Web.Models.Utility.AppSettings.GetDateFormat());
                                }                               
                                    @dt                            
                                
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.eng_project_master.ProjectName)</td>
                                <td>@Html.DisplayFor(modelItem => item.eng_project_master.eng_quote_master.eng_client_master.Company_Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Task_Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Start_Date_Time)</td>
                                <td>@Html.DisplayFor(modelItem => item.End_Date_Time)</td>
                                <td>@Html.DisplayFor(modelItem => item.SVName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Resource_name)</td>
                                <td>@Html.DisplayFor(modelItem => item.eng_sys_task_status.TaskStatus)</td>
                                
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        var currentdate = new Date();
        var datetime = currentdate.getDate() + ""
                    + (currentdate.getMonth() + 1) + ""
                    + currentdate.getFullYear() + " "
                    + currentdate.getHours() + ""
                    + currentdate.getMinutes() + ""
                    + currentdate.getSeconds();

        $('#projectReportTable').DataTable({
            "autoWidth": false,
            "scrollX": true,
            dom: 'Bfrtipl',
            "order": [[0, "desc"]],
            columnDefs: [
            { type: 'date-eu', targets: 0 }
            ],
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    title: 'Project Report Details-' + datetime
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-text-o"></i>',
                    title: 'Project Report Details-' + datetime
                }

            ]
        });


    });    
    $('.dt-button').addClass('btn btn-primary').removeClass('dt-button').css('margin-right', '0px')


    $(function () {

        $('#dateFrom').datetimepicker({ format: 'DD/MM/YYYY' });
        $('#dateTo').datetimepicker({ format: 'DD/MM/YYYY' });

    });

</script>

