@model Eng360Web.Models.Domain.eng_time_entry

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>eng_time_entry</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmpID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmpID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProjectID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProjectID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReportDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReportDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Work_Start_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Work_Start_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Work_End_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Work_End_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ot_Start_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ot_Start_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ot_end_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ot_end_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.No_of_WorkHours)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.No_of_WorkHours)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.No_of_OtHours)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.No_of_OtHours)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Remarks)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubmittedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubmittedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubmittedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubmittedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.eng_employee_profile.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.eng_employee_profile.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.eng_project_master.ProjectNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.eng_project_master.ProjectNo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TEID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
