@model Eng360Web.Models.ViewModel.FilterViewModel

@{
    Layout = null;
}


    
    <div class="row inner-page--container">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>  Supplier Details</b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", id = "supplierReportForm" }))
                    {
                        @Html.AntiForgeryToken()



                        <div class="row">
                            <div class="col-md-4">
                                @Html.Label("Supplier Name", htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("Company_Name", null, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>

                           
                        </div>

                        <div class="modal-footer">

                            <button type="button" id="report-supplierIndex-search" class="btn btn-primary">Search</button>

                        </div>
                        
                    }
                    <br />

                    <table class="table table-striped table-bordered" id="supplierTable">
                        <thead>
                            <tr>
                                
                                <th>Supplier ID</th>
                                <th>Company Name</th>
                                <th>Type of Industry</th>
                                <th>SPOC Name</th>
                                <th>Supplier Description</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Tel</th>
                                <th>Fax</th>
                                <th>Web</th>
                                <th>Address1</th>
                                <th>Address2</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Postal Code</th>
                                <th>Skype ID</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.eng_supplier_master)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.SupplierDisplayID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Company_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_sys_industry.Industry_Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Spoc_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Supplier_Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Mobile)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Tel)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Fax1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Web)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Address1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Address2)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.City)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Country)</td>
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.Postal_Code)</td>                                    
                                    <td>@Html.DisplayFor(modelItem => item.eng_address_master.SkypeID)</td>



                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script>

    var supplierTable;

    $(document).ready(function () {

        var currentdate = new Date();
        var datetime =  currentdate.getDate()+""  
                    + (currentdate.getMonth() + 1)+"" 
                    + currentdate.getFullYear()+" " 
                    + currentdate.getHours() + "" 
                    + currentdate.getMinutes() + ""
                    + currentdate.getSeconds();
        
        supplierTable = $('#supplierTable').DataTable({
            "autoWidth": false,
            "scrollX": true,
            dom: 'Bfrtipl',
            buttons: [

                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    title: 'Supplier Details-' + datetime
                },
                
                {
                    
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-text-o"></i>',
                    title: 'Supplier Details-' + datetime
                }

            ]
        });
    });
    
    $('.dt-button').addClass('btn btn-primary').removeClass('dt-button').css('margin-right', '0px')


    //supplierTable.column(3).visible(false);
    //supplierTable.column(4).visible(false);

    //supplierTable.column(7).visible(false);
    //supplierTable.column(8).visible(false);
    //supplierTable.column(9).visible(false);
    //supplierTable.column(10).visible(false);
    //supplierTable.column(11).visible(false);
    //supplierTable.column(12).visible(false);
    //supplierTable.column(13).visible(false);
    //supplierTable.column(14).visible(false);
    //supplierTable.column(15).visible(false);

</script>