@using Eng360Web.Models.ViewModel
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;

}
<head>
    <title>Eng360 Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Scripts/LoginPage/images/icons/favicon.ico" />
    <!--===============================================================================================-->
 
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginPage/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/sbs360/Scripts/LoginPage/images/bg-01.jpg');">
            <div class="wrap-login100">
               
                    <span class="login100-form-logo">
                        <img src="~/Scripts/LoginPage/images/SBS-360-smaller.png">
                    </span>

            @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                       @Html.TextBoxFor(m => m.UserName, new { @class = "input100", @placeholder = "User Name" })
                    
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                   
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span toggle="#Password" class="fa fa-fw field-icon toggle-password fa-eye"></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", @placeholder = "Password" })



                        <span class="focus-input100" data-placeholder="&#xf191;"> </span>

                    </div>                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    @*<div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            Forgot Password?
                        </a>
                    </div>*@
                
}
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Scripts/LoginPage/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginPage/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginPage/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Scripts/LoginPage/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginPage/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginPage/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Scripts/LoginPage/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginPage/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginPage/js/main.js"></script>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    
    if (window.location.href.indexOf("/Login") == -1)
    {
        window.location.href = "Login/Index";
    }

    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>